@import "./reset";
@import "./variables/global";
@import "./theme/dark";
@import "./theme/light";

.app {
  background-color: var(--bg-color);
  min-height: 100vh;
}

body {
  font: var(--font-m);
  color: var(--color-primary);
}

.mainWrapper {
  display: flex;
}

.contentWrapper {
  flex: 1;
}
