:root {
  --font-family-main: consolas, 'Times New Roman', serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) / var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 36px;
  --font-l: var(--font-size-l) / var(--font-line-l) / var(--font-family-main);

  // размеры
  --nav-bar-height: 50px;

  // z-index
  --modal-z-index: 100;

  // цвета
  --color-error: #e32929;
  --color-readonly: #0000003E;
  --code-bg: #e8e7e7;
  --bg-card: #dadada;
  --bg-listBox: #e5e3e3;
  --color-notification: #c51515;
}
