.button {
  cursor: pointer;
  outline: none;
  margin: 0;
}

.small {
  padding: 5px;
}

.medium {
  padding: 10px;
}

.large {
  padding: 20px;
}

.clear {
  padding: 0;
  background: transparent;
  border: none;
  color: #fff;
}

.outlined {
  background: transparent;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  color: var(--color-primary);
}

.contained {
  background-color: var(--color-secondary);
  color: #fff;
  border: 10px;
  border-radius: 5px;
  box-shadow: 4px 9px 8px 0 rgb(34 60 80 / 20%);
}
