.BIG {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .img {
    max-height: 200px;
    width: 100%;
    margin-bottom: 8px;
  }

  .articleTitle {
    margin-bottom: 8px;
  }

  .types {
    margin-bottom: 8px;
  }

  .blockWithIcon {
    display: flex;
    gap: 10px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .articleText {
    max-height: 200px;
    overflow-y: hidden;
    margin-bottom: 10px;
  }
}

.SMALL {
  cursor: pointer;
  width: 230px;

  .imgWrapper {
    position: relative;
  }

  .img {
    object-fit: cover;
    height: 200px;
    width: 200px;
  }

  .blockWithIcon {
    display: flex;
    gap: 10px;
  }

  .infoWrapper {
    display: flex;
    justify-content: space-between;
  }

  .date {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease;
  }

  &:hover {
    transition: 0.3s ease;
    opacity: 0.8;
    transform: scale(1.01);

    .date {
      opacity: 1;
    }
  }

  .articleTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}