.navBar {
  height: calc(100vh - var(--navBar-height));
  width: 300px;
  background: #15d308;
  transition: .3s ease;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.collapsed {
  width: 70px;
}
