.navBar {
  height: calc(100vh - var(--nav-bar-height));
  width: 300px;
  background: #31708E;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.collapsed {
  width: 70px;
}
