.dark {
  --bg-color: #2a2a2a;
  --inverted-bg-color: #eae7dc;
  --color-primary: #4db7ae;
  --color-secondary: #45a29e;
  --color-link: #e85a4f;
  --skeleton-color: #c0bbbb;
  --skeleton-shadow: #c0bbbb;
}
