.light {
  --bg-color: #eae7dc;
  --inverted-bg-color: #2a2a2a;
  --color-primary: #e85a4f;
  --color-secondary: #e98074;
  --color-link: #4db7ae;
  --skeleton-color: #ce665c;
  --skeleton-shadow: #ce665c;
}
