.orange {
  --bg-color: #da8c7e;
  --inverted-bg-color: #FBF5F4;
  --color-primary: #FBF5F4;
  --color-secondary: #D0675D;
  --color-link: #D0675D;
  --skeleton-color: #c0bbbb;
  --skeleton-shadow: #c0bbbb;
}
