.typography {
  margin: 0;
  padding: 0;
}

.error {
  color: var(--color-error);
  font-size: var(--font-size-p);
  text-transform: none;
}

.center{
  text-align: center;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}