.button {
  display: flex;
  align-items: center;
}

.options {
  border-radius: 5px;
  box-shadow: 4px 4px 4px var(--bg-list-box);
}

.item {
  padding: 10px;

  &:disabled {
    color: grey;
  }
}

.unavailable {
  opacity: 0.8;
  color: grey;
}

.fullWidth {
  width: 100%;
}

.small {
  height: 25px;
}

.medium {
  height: 35px;
}

.large {
  height: 50px;
}