.commentWrapper {
  padding: 10px;
  border: 1px solid var(--color-primary);
  margin-bottom: 16px;
}

.errorWrapper {
  border: 1px solid var(--color-primary);
  padding: 20px;
}

.buttonColor {
  color: var(--color-primary)
}