.errorWrapper {
  min-height: 200px;
  border: 1px solid var(--color-error);
}

.loadingWrapper {
  height: 100%;

  &__avatar {
    margin: 0 auto 20px;
  }

  &__mb20 {
    margin-bottom: 20px;
  }
}

.block {
  margin-bottom: 50px;
}

.avatar {
  margin-bottom: 50px;
}

.mainInfoBlock {
  margin-bottom: 30px;
}